@tailwind base; /*It is apply globally. it is a part of approach to sturcturing and organizing the style using configure method */
@tailwind components; /*style that apply on components */
@tailwind utilities; /*atomic style for margin, style and padding. Small set of classes we could reuse*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components{
  .whiteCloudBackground{
    @apply z-0 hidden md:flex items-center w-full absolute  
    h-fit object-contain px-[8%] mx-auto transition-all duration-300 ease-linear 
    hover:invert-[1%] hover:sepia-[5%] hover:saturate-[100%] hover:hue-rotate-[314deg] hover:brightness-[110%] hover:contrast-[80%]
  }
 
}